body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #111;
    color: #f5f5f5;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
}